@media (max-width: 1200px)
  .container
    width: 960px

  .hotel
    &-grid
      &__right-block
        width: 310px
    &-swiper
      width: 620px

  .booking
    &__quick-booking
      flex-basis: 60%

  .map
    width: 310px

  .subscribe
    &__wrapper
      padding: 98px 140px 87px 140px

  .activities
    &-card
      width: 225px
      height: 225px

  .footer
    &-main
      grid-template-columns: repeat(2, 1fr) 1.3fr 1fr

  .contact
    padding-right: 40px

@media (max-width: 992px)
  .container
    width: 755px

  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: 48px
    &-menu
      &__buttons
        padding-top: 22px
        padding-bottom: 22px
      &__item
        font-size: 12px
        line-height: 15px
  .logo
    width: 132px

  .breadcrumb
    &__link
      &--hover
        &:hover
          color: $text-color
          text-decoration: none
        &:active
          color: $text-color
          text-decoration: none

  .hotel
    &-grid
      &__right-block
        margin-left: 0
        width: 100%
        flex-direction: row
        justify-content: space-between
    &-swiper
      width: 100%
      margin-bottom: 30px
      flex-basis: 100%
      &__button
        &:hover
          border-radius: 20%
          background-color: #20202000
        &:active
          background-color: #20202000

  .booking
    width: 370px
    margin-bottom: 0

  .map
    width: 370px

  .catalog
    &__title
      font-size: 30px
      line-height: 38px
    &-grid
      display: grid
      grid-template: repeat(3, 500px) / repeat(2, 1fr)
      grid-gap: 30px
      padding-bottom: 70px

  .subscribe
    &__wrapper
      padding: 82px 0px 83px 0px

  .reviews
    &-wrapper
      padding-bottom: 60px
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
    &-swiper
      &__slide
        &-container
          width: 579px
          height: 299px
          &:after
            display: none
          &:before
            display: none
      &__message
        margin-left: 62px
        margin-right: 62px
      &__button
        &:hover
          border-radius: 20%
          background-color: #00000000
        &:active
          background-color: #00000000

  .activities
    &-wrapper
      padding-bottom: 70px
    &-cards
      flex-wrap: wrap
    &-card
      width: 367px
      height: 255px
    &-card:first-child
      margin-bottom: 20px

  .footer
    &-main
      padding-top: 73px
      grid-template: min(213px) min(223px) min(406px) minmax(317px , 317px) / minmax(204px , 204px) minmax(330px , 330px) minmax(220px , 220px)
      &__list-1
        grid-column: 1 / 2
        grid-row: 2 / 3
      &__list-2
        grid-column: 2 / 3
        grid-row: 2 / 3
      &__list-3
        grid-column: 3 / 4
        grid-row: 2 / 3
      &__social
        grid-column: 2 / 4
        grid-row: 1 / 2
        padding-bottom: 38px
      &__contact
        grid-column: 1 / 4
        grid-row: 3 / 4
        padding: 61px 0
      &__form
        grid-column: 1 / 4
        grid-row: 4 / 5
        padding-top: 0px
    &-link
      padding-top: 0px
      grid-row: 1 / 2
    &-bottom
      justify-content: space-between

  .form
    width: 539px

  .social
    &__link
      &:hover
        border-radius: 50%
        background-color: #00000000
      &:active
        background-color: #00000000

  .link--hover
    &:hover
      text-decoration: none
      &:active
        text-decoration: none

  .button--hover
    &:hover
      background-color: $primar
    &:active
      background-color: $primar

@media (max-width: 768px)
  .container
    width: 700px

  .navbar
    &__search
      width: 340px
    &-container
      width: 673px
    &-menu
      &__item
        &:hover
          color: $light
        &:active
          color: $light

  .booking
    width: 340px

  .map
    width: 340px

  .reviews
    &-swiper
      &__button
        top: 174px
        &--prev
          left: 0
        &--next
          right: 0

  .activities
    &-card
      width: 339px

  .footer
    padding-bottom: 0
    &-wrapper
      padding-bottom: 0
    &-bottom
      height: 50px
      padding-top: 0
      padding-bottom: 33px
    &-main
      padding-bottom: 56px
      grid-template: min(193px) min(223px) min(366px) minmax(317px , 317px) / minmax(188px , 188px) minmax(311px , 311px) minmax(200px , 200px)
      padding-top: 36px
      &__social
        padding-bottom: 0
      &__list-2
        padding-left: 10px
    &-link
      width: 96px
      height: 110px
      align-self: center
      justify-content: center

  .contact
    padding-bottom: 0
    &__title
      margin-bottom: 23px

@media (max-width: 720px)

  .container
    width: 560px

  .breadcrumb-block
    padding-top: 79px

  .navbar
    &--mobile
      &--fixed
        background: $light
        position: fixed
        top: 0
        left: 0
        right: 0
        z-index: 99
    &-menu, &__search, &__user
      display: none
    &-menu
      &__buttons
        flex-direction: column
        align-items: center
      &__item
        margin-bottom: 20px
      &--mobile--hidden
        display: block
        position: fixed
        left: 0
        right: 0
        bottom: 0
        top: 78px
        overflow: scroll
      &__search
        margin-bottom: 39px
        &--mobile--hidden
          display: block
      &__user
        flex-direction: column
        &--mobile--hidden
          display: flex
    &-top
      &__navigation-buttons
        display: flex
        flex-direction: column
        justify-content: space-between
        width: 16px
        height: 11px

  .user
    margin-bottom: 27px
    &__avatar
      margin-right: 0
      margin-bottom: 10px
    &__name
      &--light
        color: $light

  .search
    width: 243px

  .hotel
    padding-bottom: 60px
    &-swiper
      margin-bottom: 20px
      height: 310px

  .booking
    width: 270px

  .map
    width: 270px

  .catalog
    &__title
      font-size: 26px
      line-height: 32px
      padding-top: 30px
      padding-bottom: 30px
    &-grid
      grid-template: repeat(3, 400px) / repeat(2, 1fr)

  .main-card
    height: 400px
    &__text
      display: none
    &__old-price
      margin-top: 104px

  .card
    height: 400px
    &__image
      height: 150px
      &-wrapper
        height: 150px
    &__description
      height: 250px
    &-booking
      &__book-button
        width: 100px
        height: 35px
        font-size: 12px
        line-height: 15px
        &-name
          width: 90px
          min-width: 90px
      &__price
        margin-right: 0
    &__old-price
      margin-top: 5px

  .info
    &__right
      display: none
    &__left
      justify-content: space-between
    &__flesh-offer
      order: -1
      margin: 0
    &__hotel-stars
      flex-basis: auto
      justify-content: end
    &__hotel-name
      flex-basis: 100%
      margin-top: 10px

  .navigation-buttons
    &__line-1
      width: 16px
      height: 1px
      background-color: $text-color
    &__line-2
      width: 16px
      height: 1px
      background-color: $text-color
    &__line-3
      width: 16px
      height: 1px
      background-color: $text-color
    &__line
      &--invisible
        opacity: 0
    &--close
      width: 16px
      height: 16px
      background-image: url(../img/dark-close-button.svg)
      background-repeat: no-repeat
      background-size: 100%

  .subscribe
    &__wrapper
      flex-direction: column
      align-items: start
      padding: 76px 0px 63px 0px
    &__inscription
      margin-bottom: 17px
      font-size: 20px
      line-height: 25px
    &__large-inscription
      font-size: 30px
      line-height: 38px
    &__field
      min-width: 200px
      width: 100%
      margin-left: 0

  .reviews
    &-wrapper
      padding-bottom: 50px
    &__title
      display: flex
      width: 280px
      font-size: 26px
      line-height: 32px
      margin-bottom: 42px
    &-swiper
      &__slide
        &-container
          width: 100%
          height: 100%
          padding-bottom: 36px
      &__message
        margin-left: 31px
        margin-right: 31px
      &__button
        transform: translateY(-50%)
        top: 45px
        &--prev
          left: 50%
          margin-left: -105px
        &--next
          right: 50%
          margin-right: -105px

  .activities
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 42px
    &-wrapper
      padding-top: 40px
      padding-bottom: 60px
    &-cards
      flex-wrap: wrap
    &-card
      width: 100%
      height: 255px
      &:not(:last-child)
        margin-bottom: 20px

  .footer
    &-bottom
      padding-bottom: 21px
      &__list
        width: 277px
        margin-bottom: 10px
    &-main
      padding-top: 69px
      padding-bottom: 0
      grid-template: min(150px) min(97px) min(157px) min(201px) min(259px) min-content min-content / minmax(100px , 1fr)
      &__list-1
        grid-column: 1 / 2
        grid-row: 5 / 6
      &__list-2
        padding-left: 0
        grid-column: 1 / 2
        grid-row: 4 / 5
      &__list-3
        grid-column: 1 / 2
        grid-row: 3 / 4
      &__social
        grid-column: 1 / 2
        grid-row: 2 / 3
        padding-bottom: 0
        flex-direction: column
      &__contact
        grid-column: 1 / 2
        grid-row: 6 / 7
        padding-top: 0
        padding-bottom: 0
      &__form
        margin-top: 60px
        grid-column: 1 / 2
        grid-row: 7 / 8
    &-link
      grid-column: 1 / 2
      grid-row: 1 / 2
      align-self: start
      justify-content: flex-start
    &-bottom
      height: 68px
      padding-top: 0px
      flex-direction: column
      justify-content: flex-start
      align-items: flex-start
      &__list
        margin-top: 0
        margin-right: 0

  .social
    align-items: flex-start
    &__title
      padding-right: 0px
      margin-bottom: 23px

  .contact
    &__items
      margin-top: 16px
    &__info
      line-height: 22px
    &__icon-wrapper
      margin-top: 4px
      margin-left: 3px
      min-width: 19px
      height: 19px
      margin-right: 7px
  .form
    width: 100%
    &__title
      margin-bottom: 15px
    &__contact-area
      flex-direction: column
      margin-bottom: 0
    &__input
      flex-basis: 100%
      height: 50px
      &-wrapper
        padding-bottom: 15px
    &__message
      width: 100%
      margin-bottom: 15px
    &__send-button
      flex-direction: column
      justify-content: flex-start
      align-items: flex-start
    &__button
      order: 1
      margin-bottom: 20px
    &__help-text
      margin-bottom: 15px

  .modal
    &__dialog
      width: 280px
      min-height: 390px
      padding-right: 20px
      padding-left: 20px

    &__input
      height: 35px
    &__message
      height: 70px
    &__button
      width: 100px
      height: 50px

@media (max-width: 576px)

  .container
    width: 470px

  .logo
    width: 99px

  .hotel
    padding-bottom: 40px
    &-grid
      &__right-block
        flex-direction: column
      &__booking
        margin-bottom: 20px
    &-swiper
      height: 179px
      &__button
        top: 50%
        transform: translateY(-50%)
        z-index: 99
        width: 12px
        height: 12px
        background-size: 4px
        &--prev
          left: 11px
        &--next
          right: 11px

  .booking
    width: 100%
    &__quick-booking
      flex-basis: 70%

  .map
    width: 100%
    height: 179px

  .catalog
    &__title
      font-size: 22px
      line-height: 28px
      margin-right: 0
    &-grid
      grid-template: repeat(2, 400px) / 1fr 1fr
      grid-gap: 15px

  .main-card
    flex-direction: column
    position: relative
    width: 100%
    height: 400px
    grid-column-end: 2
    &__stars
      display: none
    &__flash-offer
      position: absolute
      width: 60px
      height: 18px
      left: 0
      top: 26px
      background: $primar
      border-radius: 0px 4px 4px 0px
      padding: 4px 9px 4px 9px
      color: $light
      font-style: normal
      font-weight: 600
      font-size: 8px
      line-height: 10px
    &__image-wrapper
      height: 150px
    &__image
      object-fit: cover
      width: 100%
      height: 100%
    &__description
      display: flex
      flex-direction: column
      padding: 25px 16px 20px 27px
    &__title
      margin-top: 0px
      margin-bottom: 23px
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 23px
    &__room-info
      margin-bottom: 24px
    &__old-price
      margin-top: 0px
      font-size: 12px
      line-height: 18px
    &__text
      display: none

  .card
    height: 400px
    &:last-child
      display: none
    &__image
      height: 150px
      &-wrapper
        height: 150px
    &__description
      padding: 25px 16px 20px 27px
      height: 250px
    &-booking
      &__price
        font-style: normal
        font-weight: bold
        font-size: 20px
        line-height: 26px
      &__book-button
        width: 100px
        height: 35px
        font-size: 12px
        line-height: 15px
    &__old-price
      margin-top: 0px
      font-size: 12px
      line-height: 18px

  .reviews
    &__title
      font-size: 22px
      line-height: 28px

  .message
    height: 300px
    &__title
      font-size: 26px
    &__text
      font-size: 18px

@media (max-width: 480px)
  .container
    width: 280px

  .breadcrumb
    padding-bottom: 0

  .info
    padding-bottom: 38px
    &__hotel-stars
      margin-right: 16px

  .booking
    padding-right: 21px
    &__quick-booking
      flex-basis: 60%
    &__room-info-item:not(:last-child)
      margin-bottom: 6px

  .map
    height: 172px

  .catalog
    &__title
      font-weight: bold
      font-size: 18px
      line-height: 23px
      text-align: center
      text-transform: uppercase
    &-grid
      grid-template: repeat(4, 400px) / 1fr
      grid-gap: 15px

  .subscribe
    &__large-inscription
      margin-top: 5px
    &__input
      padding-left: 20px

  .reviews
    &__title
      width: 250px
      font-weight: bold
      font-size: 18px
      line-height: 23px
      text-align: center
      text-transform: uppercase
    &-swiper
      &__message
        text-align: left

  .activities
    &__title
      margin-bottom: 36px
    &-cards
      &__card:first-child
        order: 0
      &__card:nth-child(2)
        order: 2
      &__card:nth-child(3)
        order: 1
        margin-bottom: 28px
      &__card:nth-child(4)
        order: 3

  .contact
    &__important-hyphenation
      display: block

      overflow: scroll

@media (max-height: 486px)

  .modal
    &__overlay
      overflow: scroll
    &__dialog
      top: 10px
      position: absolute
      transform: translate(-50% , 0)
