.breadcrumb
  display: flex
  list-style: none
  padding: 19px 0
  margin: 0
  &_link
    font-size: 10px
    line-height: 13px
    ::after
      content: "/"
      margin: 0 3px
  &_page
    font-size: 10px
    line-height: 13px
