.catalog
  background-color: $background-color
  &__title
    margin: 0
    font-style: normal
    font-weight: bold
    font-size: 36px
    line-height: 45px
    text-align: center
    text-transform: uppercase
    padding-top: 40px
    padding-bottom: 65px

.catalog-grid
  display: grid
  grid-template: repeat(2 , 500px) / repeat(3, 1fr)
  grid-gap: 30px
  padding-bottom: 70px

.main-card
  display: flex
  position: relative
  width: 100%
  height: 100%
  border-radius: 8px
  overflow: hidden
  grid-column-start: 1
  grid-column-end: 3
  &__flash-offer
    position: absolute
    width: 95px
    height: 30px
    left: 0
    top: 26px
    background: $primar
    border-radius: 0px 4px 4px 0px
    padding: 7px 0 7px 11px
    color: $light
    font-style: normal
    font-weight: 600
    font-size: 12px
    line-height: 15px
  &__image-wrapper
    height: 100%
    flex-basis: 50%
  &__image
    object-fit: cover
    width: 100%
    height: 100%
  &__description
    display: flex
    flex-direction: column
    flex-basis: 50%
    background-color: $dark
    padding: 46px 21px 30px 43px
    color: $light
  &__title
    margin-top: 5px
    margin-bottom: 27px
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 23px
  &__text
    min-height: 165px
    margin-bottom: 34px
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 160.6%
    margin-top: 0
    overflow: auto
  &__room-info
    margin-bottom: 34px
  &__old-price
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 18px
    text-decoration-line: line-through
  &__booking
    margin: 0

.card
  display: flex
  flex-direction: column
  position: relative
  width: 100%
  height: 100%
  border-radius: 8px
  overflow: hidden
  &__flash-offer
    position: absolute
    width: 60px
    height: 18px
    left: 0
    top: 26px
    background: $primar
    border-radius: 0px 4px 4px 0px
    padding: 4px 9px 4px 9px
    color: $light
    font-style: normal
    font-weight: 600
    font-size: 8px
    line-height: 10px
  &__image-wrapper
    height: 250px
  &__image
    object-fit: cover
    width: 100%
    height: 250px
  &__description
    display: flex
    flex-direction: column
    background-color: $dark
    padding: 30px 21px 25px 32px
    color: $light
    height: 100%
  &__title
    margin-top: 0px
    margin-bottom: 23px
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 23px
  &__room-info
    margin-bottom: 19px
  &__old-price
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 18px
    text-decoration-line: line-through
  &__booking
    margin: 0
  &-room-info
    &__item
      display: flex
      align-items: center
      &:not(:last-child)
        margin-bottom: 11px
    &__text
      font-style: normal
      font-weight: normal
      font-size: 12px
      line-height: 15px
    &__icon
      margin-right: 14px
  &-booking
    display: flex
    justify-content: space-between
    align-items: center
    &__price
      min-width: 85px
      font-style: normal
      font-weight: bold
      font-size: 24px
      line-height: 30px
      margin-right: 20px
    &__book-button
      padding: 10px 5px
      background: $primar
      border: none
      border-radius: 4px
      font-style: normal
      font-weight: 600
      font-size: 14px
      line-height: 19px
      color: inherit
      cursor: pointer
      &-name
        display: block
        min-width: 107px
        text-align: center
